* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p {
  font-size: 14px;
}

.header {
  background: #2f2f2f;
  padding: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: #ffffff;
  margin-left: 5rem;
}

.main-container {
  flex-direction: column;
  margin: 0 5rem 0 5rem;
}

.inner-container {
  flex-direction: row;
  padding: 5rem 0 5rem 0;
}

.card {
  background: #dbdbdb;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 20rem;
  width: 20rem;
  position: relative;
}

.card * {
  padding: 0.2rem;
}

.info-laptop {
  width: 64rem;
  justify-content: space-around;
}

.btn-container > .btn:first-child {
  left: 0;
  width: 8rem;
  margin-left: 1rem;
  background: #ffffba;
}

.btn-container > .btn:last-child {
  right: 0;
  width: 8rem;
  margin-right: 1rem;
  background: #bae1ff;
}

.btn {
  padding: 0.5rem;
  border: 0.5px solid #2f2f2f;
  border-radius: 0.5rem;
  width: 8rem;
  position: absolute;
  margin-bottom: 1rem;
  bottom: 0;
}

.loan-btn {
  margin-bottom: 4rem;
}

.info-user-get-loan-btn,
.submit-btn {
  background: #baffc9;
}

.overlay {
  position: fixed;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.inner-overlay {
  background: rgb(236, 236, 236);
  padding: 4rem;
  border-radius: 1rem;
  position: relative;
  flex-direction: column;
}

.inner-overlay > input {
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 0.5px solid #000;
  height: 2rem;
  padding: 0.5rem;
}

.cancel-btn,
.submit-btn {
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
}

.cancel-btn {
  background: #ffb3ba;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.buy-now-btn {
  background: #bae1ff;
  width: 8rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid black;
}

li {
  font-size: 1rem;
  list-style: none;
}

.laptop-select {
  width: 100%;
  border-radius: 0.5rem;
}

img {
  height: 15rem;
  width: 15rem;
}

@media screen and (max-width: 1000px) {
  .inner-container {
    flex-direction: column;
  }

  .info-laptop {
    flex-direction: column;
    height: 40rem;
    width: 20rem;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  .header h1 {
    margin-left: 0;
  }
}
